<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="TestNG Regression Suite" verbose="3" parallel="tests" thread-count="3" >
    // Block number 1
    <test name="JioCinema Test _ chrome">
        <parameter name="browser" value="chrome" />//This is environment data ( Always use DataProviders
        <parameter name="url" value="https://www.jiocinema.com/" />
        <classes>
            <class name="MyTest.JioCinema" />
        </classes>
    </test>


    // Block number 2
    <test name="Open Cart Test">
        <parameter name="browser" value="firefox" />
        <parameter name="url"
                   value="https://naveenautomationlabs.com/opencart/index.php?route=account/login" />
        <classes>
            <class name="MyTest.OpenCartLoginTest" />
        </classes>

    </test>


    //  Block number 3
    <test name="FreeCodeCamp Test">
        <parameter name="browser" value="edge" />
        <parameter name="url"
                   value="https://www.freecodecamp.org/news/api-testing-with-postman-a-step-by-step-guide-using-the-spotify-api/" />
        <classes>
            <class name="MyTest.FreeCodeCampTest" />
        </classes>
    </test>

</suite>